@font-face {font-family: SunSans; src: url('fonts/sunsans_regular.ttf'); }
@font-face {font-family: TrajanPro-Regular; src: url('fonts/TrajanPro-Regular.ttf'); }
@font-face {font-family: SunSans-Demi; src: url('fonts/Sun\ Sans-\ Demi.ttf'); }


body {
    margin: 0;
    background-image: url('images/main\ background.png');
}
.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}
.navigation {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.navigation img {
    margin-left: 25px;
}
.menu a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1em;
    font-family: SunSans, sans-serif;
    letter-spacing: 2.3px;
    text-align: center;
    margin: 2em 1.5em;
}
label {
    margin: 1em;
    font-size: 20px;
    display: none;
    line-height: 70px;
    width: 20px;
}
#click {
    display: none;
}
.taj {
    max-width: 100%;
    display: block;
    padding: 1em 1em 1em 0;
}
@media only screen and (max-width: 500px) {
    .navigation {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-right: 25%;
        flex-wrap: wrap;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        margin: 0;
    }
    #click:checked + .menu {
        display: block;
    }
}
@media only screen and (min-width: 768px ) and (max-width: 1200px) {
    .menu {
        display: flex;
        width: 85%;
        justify-content: space-between;
    }
}
.middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    color: #ffffff;
}
.platinum {
    display: flex;
    width: 35%;
    padding: 1em;
    justify-content: space-between;
    border-right: 1px solid #979797;
}
.platinum-image img {
    width: 1.5em;
    padding-right: 0.2em;
}
.platinum-text {
    margin: 0;
    font-family: TrajanPro-Regular, sans-serif;
    font-size: 1em;
    color: #bdeaef;
}
.membership {
    padding: 0.25em;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    width: 40%;
    font-family: SunSans, sans-serif;
    font-weight: normal;
    border-right: 1px dotted #979797;
}
.point-summary {
    padding-right: 0.75em;
}
.middle-header-desktop {
    display: none;
}
@media only screen and (min-width: 1024px) {
    .middle-header {
        display: none
    }
    header {
        position: relative;
    }
    .middle-header-desktop {
        display: block;
        position: absolute;
        top: 0;
        left: 75%;
        z-index: 1;
        background-color: #1b1b1b;
        color: #ffffff;
    }
    .row-1, .row-2 {
        display: flex;
        padding: 10px;
    }
    .platinum-heading {
        font-family: TrajanPro-Regular, sans-serif;
        font-size: 1em;
    }
    .row-1 {
        border-bottom: 1px dashed #fafafa;
    }
    .row-2 {
        justify-content: space-between;
        padding:0 1em;
        line-height: 1.6;
        font-family: SunSans, sans-serif;
        font-weight: normal;
    }
    .membership-type, .membership-price {
        padding: 0.25em 0.5em;
    } 
    .membership-type {
        border-right: 1px solid #fafafa;
    }
    .row-3 {
        text-align: center;
        padding: 0 10px 10px 10px;
    }
    .row-3 button {
        background-color: #d29851;
        font-family: SunSans-Demi, sans-serif;
        padding: 10px;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 1px;
        border: none;
    }
}

.main-header {
    height: 100%;
    background: url(images/header-background.png);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    position: relative;
}
.weather {
    display: none;
}
.image-heading {
    position: absolute;
    top: 10%;
    left: 7.5%;
    font-size: 1.5rem;
    padding: 0;
}
.image-side-heading {
    display: none;
}
.dalView {
    position: absolute;
    top: 60%;
    left: 7.5%;
    font-size: 22px;
    font-family: SunSans, sans-serif;
    float: left;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
}
.best-season {
    position: absolute;
    top: 67%;
    left: 7.5%;
    margin: 0;
    font-size: 0.75rem;
    font-family: SunSans-Demi, sans-serif;
    letter-spacing: 1.5px;
}
.vivanta {
    display: none;
}
.info-icon {
    position: absolute;
    top: 65%;
    left: 60%;
    padding: 10px 15px;
    border: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0.3);
}
.rectangle {
    position: absolute;
    bottom: 0;
    left: 7.5%;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.3)
}
.description {
    font-family: SunSans;
    font-size: 1rem;
    padding: 1em 2em 0.75em 2em;
}
.button {
    padding-left: 2em;
    padding-bottom: 1em;
}
.button button {
    font-size: 0.875rem;
    font-family: SunSans-Demi, sans-serif;
    padding: 0.75em 2.25em;
    background-color: #c7904c;
    border: 0;
    letter-spacing: 0.1rem;
    color: #ffffff;
}
@media only screen and (max-width: 375px) {
    .info-icon {
        left: 70%;
    }
}
@media only screen and (max-width: 320px) {
    .info-icon {
        left: 80%;
    }
}
@media only screen and (min-width: 768px) {
    .info-icon {
        left: 40%
    }
}
@media only screen and (min-width: 1024px) {
    .image-heading {
        font-size: 40px;
    }
    .image-side-heading {
        padding-top: 1em;
        width: 70%;
        display: block;
        font-size: 20px;
        font-weight: normal;
        font-family: SunSans, sans-serif;
        opacity: 0.7;
    }
    .dalView {
        top: 70%;
    }
    .vivanta {
        display: block;
        position: absolute;
        top: 75%;
        left: 7.5%;
    }
    .best-season {
        top: 85%;
    }
    .weather {
        display: inline;
        position: absolute;
        top: 90%;
        left: 7.5%;
        padding: 8.5px;
        padding-right: 45px;
        border: 1px solid #ffffff;
        border-right: none;
        background: rgba(0, 0, 0, 0.3);
    }
    .info-icon {
        top: 90%;
        left: 15%;
    }
    .rectangle {
        bottom: 50px;
        left: 50%;
        width: 40%;
        display: flex;
    }
    .button {
        padding: 1em;
    }
}
.heading1, .heading2, .heading3, .heading4 {
    font-family: TrajanPro-Regular, sans-serif;
    font-size: 24px;
    padding: 40px 0;
    text-align: center;
}
.last-stay {
    background: #ffffff;
    margin: 20px;
}
.last-stay-image img{
    width: 100%;
    display: block;
}
.row1 {
    padding: 25px;
}
.taj-umaid-bhavan {
    font-family: TrajanPro-Regular, sans-serif;
    font-size: 22px;
}
.executive-suite {
    font-family: SunSans, sans-serif;
    font-size: 16px;
    padding: 1em 0 0 0;
}
.stay-time {
    font-family: SunSans, sans-serif;
    font-size: 20px;
    padding: 0.5em 0 0 0;
}
.stay-time sup {
    font-size: 12px;
}
.row2 {
    padding: 0 25px;
}
.how-was-your-stay {
    color: #d29851;
    font-size: 14px;
    letter-spacing: 1.5px;
    padding: 25px 0;
}
.how-was-your-stay i {
    font-size: 1.5em;
}
.earnings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-family: SunSans, sans-serif;
    font-size: 18px;
    background-color: #f2f2f2;
}
.earnings img {
    float: left;
    padding-right: 10px;
}
.earnings-text::after{
    content: "+100 Epicure";
    padding-left: 1em;
    border-left: 1px dotted #323232;
}
.view-point-breakup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    font-size: 25px;
    color: #d29851;
}
.print-invoice, .help {
    display: none;
}
.view-button button {
    padding: 10px 20px;
    border: 1px solid #c7904c;
    background-color: #ffffff;
    color: #d29851;
    font-size: 14px;
    letter-spacing: 1.75px;
    font-family: SunSans-Demi, sans-serif;
}
.fa-print {
    opacity: 0.75;
}
.question-mark {
    padding-right: 20px;
}
@media only screen and (min-width: 768px) {
    .heading1, .heading2, .heading3{
        margin: 0 6%;
        text-align: left;
        padding: 60px 0 20px 0;
    }
    .last-stay {
        display: flex;
        margin: 0 6%;
        height: auto;
    }
    .last-stay-image img {
        height: 100%;
        object-fit: cover;
    }
    .taj-umaid-bhavan {
        padding: 1em 0;
        font-size: 20px;
    }
    .executive-suite {
        font-size: 15px;
    }
    .stay-time {
        font-size: 15px;
    }
    .how-was-your-stay {
        width: 15em;
        padding: 0.5em 0;
        margin: 0.5em 0 0;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        font-size: 15px;
    }
    .earnings {
        margin: 0.5em 0;
        font-size: 15px;
    }
    .earnings-text::after {
        padding: 0 10px;
        margin-left: 10px;
        border-left: 1px solid #979797;
    }
    .row2 i, .question-mark {
        display: none;
    }
    .print-invoice, .help {
        display: block;
    }
    .view-point-breakup {
        margin-bottom: 2em;
        font-size: 14px;
        letter-spacing: 1.75px;
        display: flex;
    }
    .view-button {
        padding: 10px;
    }
    .view-button button {
        padding: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: SunSans-Demi, sans-serif;
    }
}
@media only screen and (min-width: 1024px) {
    .heading1, .heading2, .heading3{
        margin: 0 12%;
        text-align: left;
        padding: 60px 0 20px 0;
    }
    .last-stay {
        display: flex;
        margin: 0 12%;
        height: auto;
    }
    .last-stay-details {
        flex: 50%;
    }
    .last-stay-image img {    
        height: 100%;
        object-fit: cover;
    }
    .last-stay-image {
        flex: 50%;
    }
    .taj-umaid-bhavan {
        padding: 1em 0;
        font-size: 20px;
    }
    .executive-suite {
        font-size: 15px;
    }
    .stay-time {
        font-size: 15px;
    }
    .how-was-your-stay {
        width: 21em;
        padding: 1em 0;
        margin: 0 0 0 0;
        border-top: 1px solid #979797;
        border-bottom: 1px solid #979797;
        font-size: 20px;
    }
    .earnings {
        margin: 1em 0;
        font-size: 20px;
    }
    .earnings-text::after {
        padding: 0 10px;
        margin-left: 10px;
        border-left: 1px solid #979797;
    }
    .row2 i, .question-mark {
        display: none;
    }
    .print-invoice, .help {
        display: block;
    }
    .view-point-breakup {
        margin-bottom: 0;
    }
    .view-point-breakup {
        font-size: 14px;
        letter-spacing: 1.75px;
    }
}
.slideshow {
    margin: 2em;
    height: 100%;
    position: relative;
    background: none;
}
.slides {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: none;
}
.slides-heading {
    background-color: #ffffff;
}
.details {
    background-color: #ffffff;
}
.slides-heading {
    font-family: SunSans, sans-serif;
    font-size: 16px;
    color: #1b1b1b;
    text-align: center;
    padding: 1em 1.7em;
}
.image img {
    width: 100%;
    display: block;
}
.icon {
    color: #d29851;
}
.service-type {
    font-family: SunSans, sans-serif;
    font-size: 22px;
    padding: 0  1em 1em 1em;
}
.address {
    font-family: SunSans, sans-serif;
    font-size: 15px;
    color: #9b9b9b;
    padding: 0 1.5em 1.5em 1.5em;
}
.slides-view-details {
    display: flex;
    font-family: SunSans, sans-serif;
    justify-content: space-between;
    padding: 0 1.5em 1.5em 1.5em;
    font-size: 15px;
}
.slides-view-details button {
    font-size: 14px;
    font-family: SunSans-Demi, sans-serif;
    padding: 0.5em 1.5em;
    background-color: #d29851;
    color: #ffffff;
    border: none;
}
.left-button, .right-button, .right-button1, .left-button1 {
    font-size: 40px;
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    color: #d29851;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.right-button, .right-button1 {
    left: 100%;
}
.left-button, .left-button1 {
    left: -25px
}

.earnings-calculator {
    font-family: SunSans, sans-serif;
    padding: 1em 0;
    margin: 2em 12%;
    border-left: 1.5em solid #d39851;
    background-color: #e6e6e6;
    font-size: 16px;
}
.earnings-calculator form {
    margin: 0 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.earnings-calculator input, select, option {
    font-size: 14px;
    border: none;
    background-color: #e6e6e6;
    padding-bottom: 5px;
    border-bottom: 1px dotted #4a4a4a;
}
.earnings-calculator-mobile {
    display: none;
}
@media only screen and (max-width: 1023px){
    .earnings-calculator {
        display: none;
    }
    .earnings-calculator-mobile {
        font-family: SunSans, sans-serif;
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        background-color: #e6e6e6;
        font-size: 16px;
        margin: 0 4em 0 4em;
        border-left: 0.5em solid #d39851;
    }
    .place {
        padding-left: 1em;
    }
    .room-booking {
        padding: 0 1em;
    }
    .room-booking button {
        font-family: SunSans-Demi, sans-serif;
        background: none;
        border: 1px solid #d29851;
        color: #d39851;
    }
}
@media only screen and (min-width: 1024px) {
    .earnings-calculator {
        margin: 3% 12%;
    }
    .earnings-calculator form {
        margin: 0 20px;
    }
}
@media only screen and (min-width: 768px) {
    .slideshow {
        margin: 3% 6%;
        background: rgba(0, 0, 0, 0);
        height: 400px;
    }
    .slides {
        width: 31%;
        padding-left: 10px;
    }
    .right-button, .left-button, .left-button1, .right-button1 {
        display: none;
    }
    .slides-heading {
        font-family: SunSans, sans-serif;
        font-size: 14px;
        color: #1b1b1b;
        text-align: center;
        padding: 0.5em 1em;
    }
    .image img {
        width: 100%;
        display: block;
    }
    .icon {
        color: #d29851;
    }
    .service-type {
        font-family: SunSans, sans-serif;
        font-size: 16px;
        padding: 0  0.5em 0.5em 0.5em;
    }
    .address {
        font-family: SunSans, sans-serif;
        font-size: 15px;
        color: #9b9b9b;
        padding: 0 1em 1em 1em;
    }
    .slides-view-details {
        display: flex;
        justify-content: space-between;
        font-family: SunSans, sans-serif;
        justify-content: space-between;
        padding: 0 1em 1em 1em;
        font-size: 13px;
    }
    .slides-view-details button {
        font-size: 14px;
        font-family: SunSans-Demi, sans-serif;
        padding: 0.5em 1em;
        background-color: #d29851;
        color: #ffffff;
        border: none;
    }
}
@media only screen and (min-width: 1024px) {
    .slideshow {
        height: 450px;
        margin: 3%, 12%;
    }
    .slides {
        width: 29%;
        padding: 0 15px;
        background: rgba(0, 0, 0, 0);
    }
    .heading3{
        padding-top: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .slideshow {
        margin: 0 12%;
        background: rgba(0, 0, 0, 0);
        height: 500px;
    }
    .slides {
        width: 31%;
        padding: 0 10px;
    }
    .right-button, .left-button {
        display: none;
    }
}
.heading4 {
    display: none;
}
.voucher {
    display: none;
    margin: 0 12%;
}
.voucher-image {
    flex: 35%;
}
.voucher-details {
    flex: 65%;
    padding: 0 0 0 2em;
    background-color: #ffffff;
    font-family: SunSans, sans-serif;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.05);
}
.voucher-image img {
    max-width: 100%;
    display: block;
    height: 100%;
}
.epicure-points {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -1px;
    margin: 1em 0;
}
.voucher-expire {
    font-size: 16px;
    color: #000;
    opacity: 0.5;
}
.use-voucher {
    margin: 1.5em 0;
    display: flex;
    align-items: center;
}
.use-voucher button {
    font-family: SunSans-Demi, sans-serif;
    color: #ffffff;
    font-size: 16px;
    background-color: #d29851;
    padding: 0.5em 3em;
    border: none;
}
.use-voucher i {
    color: #4a4a4a;
    font-size: 20px;
    padding-left: 2em;
}
.vouchers-remaining {
    color: #4a4a4a;
    font-size: 16px;
    padding-left: 1em;
    letter-spacing: 0.44px;
}
.offer-valid-till {
    font-size: 14px;
    color: #9b9b9b;
    padding-bottom: 2em;
}
@media only screen and (min-width: 1024px) {
    .heading4 {
        padding-top: 0;
    }
    .voucher {
        display: flex;
    }
    .heading4 {
        display: block;
        margin: 2em 12% 0 12%;
        text-align: left;
        padding: 60px 0 20px 0;
    }
    .cut-out {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .semicircle {
        width: 12px;
        height: 18px;
        background: #fff;
    }
}

/* Footer */
footer {
    background-color: #efeeee;
    padding: 2.5em 2.5em;
    margin-top: 100px;
}
.footer-nav-desktop {
    display: none;
}
.footer-nav {
    padding: 2.5em 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: SunSans, sans-serif;
    line-height: 1.5;
}
.col_2 {
    padding-right: 15px;
}
.join-our-newsletter {
    font-size: 18px;
    color: #1b1b1b;
}
.email {
    display: flex;
    padding: 1.5em 0;
}
.email input {
    flex: 60%;
    padding: 0.75em 0.75em;
    border: none;
    font-size: 16px;
    font-family: SunSans, sans-serif;
}
.email button {
    padding: 0.75em 2em;
    border: none;
    font-size: 14px;
    font-family: SunSans-Demi;
    background-color: #d29851;
    color: #ffffff;
}
.join-our-newsletter img {
    padding-right: 5px;
}
@media only screen and (min-width: 768px) {
    footer {
        margin-top: 50px;
    }   
}
@media only screen and (min-width: 1024px) {
    footer {
        display: flex;
        justify-content: space-around;
    }
    .footer-nav {
        display: none;
    }
    .footer-nav-desktop {
        width: 50%;
        padding: 2.5em 0;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-family: SunSans, sans-serif;
        line-height: 1.5;
    }
    .join-our-newsletter {
        width: 30%;
        font-size: 17px;
    }
}